<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="DB_test2.Main" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Style/Main.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .auto-style1 {
            width: 128px;
            height: 128px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div id="MainData">
        <div id="Header"><img alt="DSB" class="auto-style1" src="Images/DSB.png" /></div>
        <div id="Content">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
        </div>
        <div id="Footer">Footer</div>
    </div>
    </form>

<script>
function OpenConfirmDialog()
{
    if (confirm('No Rule Type Ids found for This Rule.'))
    {
       //True .. do something
    }
    else
    {
       //False .. do something
    }
}

</script>
</body>
</html>
